.bg-theme{
  background-color: #7a5050;
}
.hero-background {
  min-height: 90vh;
  /* filter: brightness(40%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.about-background {
  min-height: 30vh;
  /* filter: brightness(40%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}